@* Aqui se muestra una lista de alumnos sin apadrinamiento,
de la cual se selecciona uno y se presiona el botón Apadrinar
para añadir el apadrinamiento entre el socio y ese alumno al sistema.
Después devuelve la vista a la vista de apadrinamientos.*@

@* @(socio: Partner, listAlumnos: List[Alumno]) *@
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Apadrinar</title>
    </head>
    <body>

        <h2>Partner @* @socio.nombre *@</h2>

        <table>
            <tr>
                <td>
                    <div align="center">
                        <table border="1">
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Estado</th>
                                <th>Sexo</th>
                                <th>Foto</th>
                                <th>Fecha de nacimiento</th>
                                <th>Fecha de entrada ACOES</th>
                                <th>Fecha de alta</th>
                                <th>Fecha de salida ACOES</th>
                                <th>Grado</th>
                                <th>Colonia de procedencia</th>
                                <th>Colonia actual</th>
                                <th>Observaciones</th>
                                <th>Apadrinar</th>
                            </tr>
                            @* @for(a <- listaAlumnos) {
                            <tr>
                            <td>@a.codigo</td>
                            <td>@a.nombre</td>
                            <td>@a.apellidos</td>
                            <td>@a.estado</td>
                            <td>@a.sexo</td>
                            <td>@a.foto</td>
                            <td>@a.fechaDeNacimiento</td>
                            <td>@a.fechaDeEntradaACOES</td>
                            <td>@a.fechaDeAlta</td>
                            <td>@a.fechaDeSalidaACOES</td>
                            <td>@a.gradoDelCurso</td>
                            <td>@a.coloniaDeProcedencia</td>
                            <td>@a.coloniaActual</td>
                            <td>@a.observaciones</td>
                            <td><input type="button" value="Apadrinar"></td>
                            </tr>
                            } *@
                        </table>
                    </div>
            </tr>
        </table>
    </body>
</html>