@* @(listAlumnos: List[Alumno]) *@
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alumnos</title>
    </head>
    <body>

        <table>
            <tr>
                <td> <a href="indexagente.scala.html"> <b>Partners</b></a> </td>
                <td> <a href="indexalumnos.scala.html"> <b>Alumnos</b></a> </td>

            </tr>
            <tr>
                <td>
                    <form>
                        <input type="text">
                        <input type="button" value="Buscar">@* Este form sirve para filtrar la tabla de alumnos por nombre*@
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="center">
                        <table border="1">
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Estado</th>
                                <th>Sexo</th>
                                <th>Foto</th>
                                <th>Fecha de nacimiento</th>
                                <th>Fecha de entrada ACOES</th>
                                <th>Fecha de alta</th>
                                <th>Fecha de salida ACOES</th>
                                <th>Grado</th>
                                <th>Colonia de procedencia</th>
                                <th>Colonia actual</th>
                                <th>Observaciones</th>
                            </tr>
                                @* @for(a <- listaAlumnos) {
                            <tr>
                                <td>@a.codigo</td>
                                <td>@a.nombre</td>
                                <td>@a.apellidos</td>
                                <td>@a.estado</td>
                                <td>@a.sexo</td>
                                <td>@a.foto</td>
                                <td>@a.fechaDeNacimiento</td>
                                <td>@a.fechaDeEntradaACOES</td>
                                <td>@a.fechaDeAlta</td>
                                <td>@a.fechaDeSalidaACOES</td>
                                <td>@a.gradoDelCurso</td>
                                <td>@a.coloniaDeProcedencia</td>
                                <td>@a.coloniaActual</td>
                                <td>@a.observaciones</td>
                            </tr>
                        } *@
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>