<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div align="center">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>NIF</th>
                    <th>Dirección</th>
                    <th>Población</th>
                    <th>Codigo Postal</th>
                    <th>Provincia</th>
                    <th>Telefono Fijo</th>
                    <th>Telefono Móvil</th>
                    <th>Email</th>
                    <th>Sector</th>
                    <th>Fecha de alta</th>
                    <th>Fecha de baja</th>
                    <th>Observaciones</th>
                </tr>
                <tr>
                    <td>Alexander</td>
                    <td>Elliott</td>
                    <td>Y2274476C</td>
                    <td>Malaga</td>
                    <td>Malaga</td>
                    <td>29006</td>
                    <td>Malaga</td>
                    <td>999666333</td>
                    <td>666333000</td>
                    <td>lexatgmail.com</td>
                    <td>sector</td>
                    <td>28/11/2018</td>
                    <td>---</td>
                    <td>Nada</td>
                </tr>
            </table>
        </div>
    </body>
</html>