<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>

        <div class="login-page">
            <div class="form">
                <form class="login-form" action="indexagente">
                    <input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <input type="button" value="Login"/>
                    <p class="message">No se acuerda de la contraseña? <a href="recuperarcontra.scala.html">recuperar contraseña</a></p>
                </form>
            </div>
        </div>

    </body>
</html>