@import models.entities.Usuario

@(userForm: Form[Usuario])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                @helper.form(action = routes.SessionController.login()) {
                    @helper.inputText(userForm("email"))
                    @helper.inputPassword(userForm("contrasena"))
                    <button value="Login"></button>
                }
            </div>
            <p class="message">¿No se acuerda de la contraseña?
                <a href="@routes.SessionController.forgotPassword">Recuperar contraseña</a>
            </p>
        </div>

    </body>
</html>