@*
    Aqui pasamos el socio que se va a modificar
    Dentro de cada input estan los placeholders de los datos vigentes de ese socio
*@

@* @(socio : Socio)  *@

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>modificar socio</title>
    </head>
    <body>
        <div align="center">
            <form align="left">
                <table align="center">
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <table align="center" border="1">
                                <tr>
                                    <td>Nombre: </td>
                                    <td><input type="text" value="@socio.nombre"/></td>
                                </tr>
                                <tr>
                                    <td>Apellidos: </td>
                                    <td><input type="text" value="@socio.apellidos"/></td>
                                </tr>
                                <tr>
                                    <td>NIF: </td>
                                    <td><input type="text" value="@socio.nif"/></td>
                                </tr>
                                <tr>
                                    <td>Dirección: </td>
                                    <td><input type="text" value="@socio.direccion"/></td>
                                </tr>
                                <tr>
                                    <td>Población: </td>
                                    <td><input type="text" value="@socio.poblacion"/></td>
                                </tr>
                                <tr>
                                    <td>Codigo Postal: </td>
                                    <td><input type="text" value="@socio.codigoPostal"/></td>
                                </tr>
                                <tr>
                                    <td>Provincia: </td>
                                    <td><input type="text" value="@socio.provincia"/></td>
                                </tr>
                                <tr>
                                    <td>Telefono Fijo: </td>
                                    <td><input type="number" value="@socio.telefonoFijo"/></td>
                                </tr>
                                <tr>
                                    <td>Telefono Móvil: </td>
                                    <td><input type="number" value="@socio.telefonoMovil"/></td>
                                </tr>
                                <tr>
                                    <td>Email: </td>
                                    <td><input type="email" value="@socio.email"/></td>
                                </tr>
                                <tr>
                                    <td>Sector: </td>
                                    <td><input type="text" value="@socio.sector"/></td>
                                </tr>
                                <tr>
                                    <td>Fecha de alta: </td>
                                    <td><input type="date" value="@socio.fechaDeAlta"/></td>
                                </tr>
                                <tr>
                                    <td>Fecha de baja: </td>
                                    <td><input type="date" value="@socio.fechaDeBaja"/></td>
                                </tr>
                                <tr>
                                    <td>Observaciones: </td>
                                    <td><input type="text" value="@socio.observaciones"/></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td align="center"><input type="button" value="Guardar"></td>
                                </tr>
                            </table>
                        </td>
                        <td><input type="button" value="Cancelar" ></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>